.cardContainer {
  border: 1px solid var(--color-grey-5);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }
  .hoverItem {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    .links {
      margin: 1rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 55px;
        padding: 1rem;
        border-radius: 50%;
        background-color: var(--color-grey-5);
        margin: 0 0.4rem;
        transition: all 0.4s ease-in-out;
        &:hover {
          background-color: var(--color-white);
          color: var(--color-black);
        }
      }
    }
  }
  h3 {
    color: var(--color-grey-2);
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    position: relative;
    margin: 0.3rem 0.5rem 1rem 0.5rem;
  }
}

.cardContainer:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.32);
  .hoverItem {
    opacity: 1;
    transform: scale(1);
  }
}
@import "../../styles/breakpoints";

@include phone {
  .cardContainer {
    img {
      height: 200px;
    }
    h3 {
      font-size: 1.1rem;
    }
  }
}
