@import "../../styles/breakpoints";

.navbarContainer {
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.icons {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  .active {
    background-color: var(--color-secondary) !important;
    a {
      color: var(--color-white) !important;
    }
  }
  a {
    &:hover {
      background-color: var(--color-grey-3);
    }
    transition: all 0.4s ease-in-out;
    background-color: var(--color-grey-4);
    cursor: pointer;
    padding: 1rem;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.7rem 0;
    box-shadow: var(--box-shadow-1);
  }
}

.themeBtn {
  z-index: 5;
  top: 5%;
  right: 2.5%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--color-grey-4);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
  &:active {
    transform: translateY(-4px);
  }
  &:hover {
    background-color: var(--color-grey-3);
  }
  .icon {
    font-size: 1.4rem;
    color: var(--color-grey-1);
    pointer-events: none;
  }
}

@include phone {
  .icons {
    z-index: 1;
    position: absolute;
    top: 0.5%;
    // bottom: auto;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    // background-color: var(--color-grey-5);
    a {
      margin: 1rem 0.3rem;
    }
  }
  .themeBtn {
    z-index: 5;
    width: 40px;
    height: 40px;
    top: unset;
    bottom: 2%;
    .icon {
      font-size: 1rem;
    }
  }
}
// @media screen and (max-width: 600px) {
//   .icons {
//     z-index: 1;
//     position: absolute;
//     top: 2%;
//     // bottom: auto;
//     flex-direction: row;
//     justify-content: center;
//     left: 50%;
//     transform: translateX(-50%);
//     width: 100%;
//     // background-color: var(--color-grey-5);
//     a {
//       margin: 1rem 0.3rem;
//     }
//   }

//   .themeBtn {
//     z-index: 3;
//     width: 50px;
//     height: 50px;
//     top: 90%;
//   }
// }
